.slds-nav-vertical__section{
    background: linear-gradient(
        45deg
        , black, transparent) !important;
        border: 1px solid rgba(0, 0, 0, 0.1) !important;
        font-family: calibri light !important;
        width: 160px !important;
        font-size: 14px !important;
}